* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {

    max-width: 70vw;
    background-color: azure;
    padding: 2rem 1rem;
    margin: 0 auto;
}



.main_container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width:650px) {
    .main_container {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (min-width:1080px) {
    .main_container {
        grid-template-columns: repeat(3, 1fr);

    }
}

@media screen and (min-width:1340px) {
    .main_containers {
        grid-template-columns: repeat(4, 1fr);

    }
}

.card_container {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
    border: 3px solid rgb(31, 20, 20);
    border-radius: 6px;
}

.card_image_container {
    position: relative;
    overflow: hidden;
    height: 15rem;
}

.card_image {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}